.journal-form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.invalid {
	border: 1p solid red;
	background: rgb(68, 6, 6);
}

.input-title {
	border: none;
	background: none;
	font-weight: 600;
	font-size: 32px;
	color: #fff;
	font-style: normal;
	line-height: normal;
	font-family: 'Source Sans 3', sans-serif;
	border-bottom: 1px solid #323232;
}

.form-label {
	display: flex;
	align-items: center;
}